body {
    font-family: sans-serif;
    padding: 0px;
}

/* Styling for the main slide being displayed */

div.slide {
    min-height:75vh;
}

div.slide h1 {
    color: white;
    text-align: center;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

div.slide h2 {
    color: black;
    text-align: center;
    padding-top:0.5em;
    padding-bottom:0.5em;
    font-size: xx-large;
}

div.slide p {
    font-size:x-large;
}

div.slide li {
    font-size: x-large;
    padding-bottom: 0.5em;
}

div.slide mark {
    background-color: yellow;
}

div.slide button {
    background-color: cornflowerblue;
    color:white;
    border-width: 0px;
    font-size: x-large;
    padding: 0.5em;
    margin-left:1%;
    margin-right:1%;
    width: 48%;
    border-radius: 10px;
}

div.slide .slideProgress {
    text-align: right;
}

div.slide .title {
    width:auto;
    background-color: cornflowerblue;
    margin-top: 0px;
    padding-top: 0px;
}

div.slide .body {
    min-height: 70vh;
}

div.slide .buttons {
    margin-left: auto;
}

div.slide p.question {
    max-width:720px;
    font-weight: bold;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
    background-color:lavender;
}

div.slide .answer {
    font-style:italic;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}

div.slide img.singleImage  {
    display: block;
    width: 49%;
    margin-left: auto;
    margin-right: auto;
}

div.slide img.multipleImages {
    /*display: block;*/
    width: 49%;
    margin-left: auto;
    margin-right: auto;
}

div.slide iframe {
    height:40vh;
    width:40%;
    margin-left: auto;
    margin-right: auto;
}

/* Styling for the slide menu toggle button */
div.slideMenuButton button {
    background-color: pink;
    color:black;
    border-width: 0px;
    font-size: x-large;
    padding: 0.5em;
    width: 100%;
    border-radius: 10px;
}


/* Styling for slide quick-menu parent grid-container */

div.slideMenuColumns {
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: space-evenly;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

/* Styling for tiles in the slide quick-menu */

div.slideMenuTile {
    border-style: solid;
    border-width: 1px;
    border-color: pink;
    padding: 5px;
    height: 25vh;
}

div.slideMenuTile h1 {
    color: white;
    text-align: center;
    padding-top:0.5em;
    padding-bottom:0.5em;
    font-size: small;
}

div.slideMenuTile h2 {
    color: black;
    text-align: center;
    padding-top:0.5em;
    padding-bottom:0.5em;
    font-size: small;
}

div.slideMenuTile .title {
    width:auto;
    background-color: cornflowerblue;
    margin-top: 0px;
    padding-top: 0px;
}

div.slideMenuTile p {
    font-size:x-small;
}

div.slideMenuTile {
    text-align: center;
    font-size: 10px;
}

div.slideMenuTile img {
    width: 40%;
    margin: auto;
}

div.slideMenuTile .slideMenuTileIFrame {
    height:10px;
    width:10px;
    /*margin-left: auto;
    margin-right: auto;*/
}














