body {
    font-family: sans-serif;
    padding: 0px;
}

h1 {
    color: white;
    text-align: center;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

h2 {
    color: black;
    text-align: center;
    padding-top:0.5em;
    padding-bottom:0.5em;
    font-size: xx-large;
}

p {
    font-size:x-large;
}

li {
    font-size: x-large;
    padding-bottom: 0.5em;
}

mark {
    background-color: cornsilk;
}

button {
    background-color: cornflowerblue;
    color:white;
    border-width: 0px;
    font-size: x-large;
    padding: 0.5em;
    margin-left:1%;
    margin-right:1%;
    width: 48%;
}

.slide {
    min-height:75vh;
}

.title {
    width:auto;
    background-color: cornflowerblue;
    margin-top: 0px;
    padding-top: 0px;
}

.body {
    min-height: 50vh;
}

.buttons {
    margin-left: auto;
}

.question {
    font-style:italic;
    text-align: center;
}

.answer {
    font-style:italic;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}

.slideProgress {
    text-align: right;
}

